*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
.upper{
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
	background-size: cover;
	height: 250px;
}
.right{
	float: right;
}
.budget{
	position:relative;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width:25%;
}
.available{
	color:white;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.total{
	/*position: absolute;*/
	font-size: 50px;
	text-align: center;
	color:white;
	letter-spacing: 4px;
	margin-top: 10px;
}
.income{
	background-color: #28B9B5;
	margin: 20px;
	padding: 20px;
	/*width: 80%;*/
}
.expense{
	background-color: #FF5049;
	/*width: 80%;*/
	margin:20px;
	padding: 20px;
	/*margin-bottom:  20px;*/
}

.income_text,.expense_text{
	float: left;
	margin-top: -8px;
	text-transform: uppercase;
	margin-left:0;
	font-size: 15px;
}
.income_value,.expense_value{
	float: left;
	color: #fff;
	margin-top: -9px;
	margin-right: 10px;
}
.income_per,.expense_per{
	background-color: rgba(255, 255, 255, 0.2);
	float: left;
	text-align: center;
	font-size: 12px;
	width:34px;
	margin-top: -8px;
	border-radius: 3px;
	color: #fff;
}
.center{
	background-color: rgba(211,211,211,.5);
	padding: 10px;
}
.add_container{
	text-align: center;
}
.add_container .add{
	/*font-size: 30px;*/
	width: 60px;
	height: 40px;
	margin-right: 10px; 
	border:1px solid #cdcdcd;
}
.add_container .add_description{
	height: 40px;
	margin-right: 10px;
	width: 30%;
	/*border-color: #cdcdcd; */
	/*outline-color: green;*/
	/*border:none;*/
	border:1px solid #e7e7e7;
	border-radius: 5px;
}
.add_container .add_value{
	height: 40px;
	border:none;
	margin-right: 10px; 
	/*border-color: #cdcdcd;*/
	outline-color: green;
	border:1px solid #e7e7e7;
	border-radius: 5px;
	width: 80px;
}
::placeholder{
	position: relative;
	color:black;
	left: 10px;
}
.btn{
	position: relative;
	top:5px;
	height: 40px;
	border:none;
	width: 40px;
	/*padding: 0;*/
	background-color: transparent;
	outline: none;
	cursor: pointer;
	/*transition: .5s;*/
}
.btn:active{
	transform: translateY(2px);
}
.add:focus,
.add_description:focus,
.add_value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}
i{
	/*margin: 0px;*/
	/*padding: 0;*/
	color:#28B9B5;
	font-size: 30px;
}
.bottom{
	padding: 50px 200px;
	text-transform: uppercase;
	/*padding-left:40px;*/
	/*padding-right: 40px;*/
}
.incomeadd{
	float: left;
	width: 47.5%;
	margin-right: 30px;
}
.expenseadd{
	float: left;
	width: 47.5%;
}

h1{
	font-size: 20px;
}
.incomeadd h1{
	color:#28B9B5;
}
.expenseadd h1{
	color:#FF5049;
}

.item {
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
    /*margin-right: 30px;*/
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
    /*color:;*/
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.incomeadd .item__value,
.incomeadd .item__delete--btn {
    color: #28B9B5;
}

.expenseadd .item__value,
.expenseadd .item__percentage,
.expenseadd .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: -7.5px;
    /*display: inline-block;*/
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }


.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }
